<div class="gallery-container">
  <div class="selected-image" *ngIf="selectedImage">
    <div id="selected-img" [style.width]="selectedImageWidth">
      <img [src]="selectedImage.src" [alt]="selectedImage.title" />
    </div>

    <div class="image-controllers-container">
      <div class="image-controllers-size">
        <button mat-raised-button (click)="decrease()" color="primary">
          Disminuir
        </button>
        <button mat-raised-button (click)="increase()" color="primary">
          Aumentar
        </button>
      </div>
      <div class="image-controllers">
        <button
          mat-raised-button
          [disabled]="prevDisabled"
          (click)="previous()"
          color="primary"
        >
          Anterior
        </button>
        <button
          mat-raised-button
          *ngIf="!isPlaying"
          (click)="play()"
          color="primary"
        >
          Play
        </button>
        <button
          mat-raised-button
          *ngIf="isPlaying"
          (click)="stop()"
          color="warn"
        >
          Stop
        </button>
        <button
          mat-raised-button
          [disabled]="nextDisabled"
          (click)="next()"
          color="primary"
        >
          Siguiente
        </button>
      </div>
    </div>
  </div>

  <div class="image-list">
    <div *ngFor="let image of images">
      <img (click)="selectImage(image)" [src]="image.src" [alt]="image.title" />
    </div>
  </div>
</div>
