.gallery-container {
  text-align: center;
}

.selected-image {
  min-width: 500px;
  #selected-img {
    margin: auto;
    img {
      width: 100%;
      margin-top: 2rem;
    }
  }
  .image-controllers-container {
    width: 500px;
    margin: auto;
    .image-controllers-size {
      display: flex;
      flex-direction: row;
      justify-content: center;
      button {
        margin: 1rem;
      }
    }
    .image-controllers {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      button {
        margin: 0 1rem 1rem 1rem;
      }
    }
  }
}

.image-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  img {
    box-sizing: border-box;
    margin: 0.5rem;
    width: 300px;
  }
}

.selected-image-list {
  border: 4px red solid;
}

.paginator-buttons {
  padding-bottom: 1rem;
  button {
    margin: 0 1rem;
  }
}
